Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/docker-compose.yml
/docker-composeCONPOSTGRESS.yml
/Dockerfile
/fly.toml
/grails-app/conf/application.groovy
/grailsw.bat
/grails-wrapper.jar
/grailsw
/gradlew
/gradlew.bat
/postgres-data/
